extends layout

block content
  h1 Pokédex - Web Coding
  p  Ver os pokémons- localhost:3000/pokedex
  p  Adicionar novos pokémons- localhost:3000/capturar
  p  Ver as informaçoes de um pokemon especifico- localhost:3000/pokedex/:id