extends layout

block content
  h1 Pokédex - Web Coding
  p Olá! Essa é página inicial da Pokédex feita com Node.js e Express para a cadeira de Web Coding
  p Aqui você pode ver todos os pokémons que existem, e também adicionar novos pokémons!
  p Para ver os pokémons, use o link localhost:8000/pokedex
  p Para adicionar novos pokémons, use o link localhost:8000/capturar
  p Para ver as informaçoes de um pokemon especifico, use o link localhost:8000/pokedex/:id
